body {
  margin: 0;
  background-color: whitesmoke;
}

h2 {
  text-align: center;
}

form {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  /* background-color: red; */
}

form p {
  position: relative;
  top: 10px;
  left: -55px;
}

form textarea {
  width: 70%;
  margin-bottom: 30px;
}



#send {
  width: 70%;
  height: 30px;
  border: 0;
  background-color: royalblue;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

#send:hover {
  background-color: skyblue;
}

.back {
  margin: 15px auto;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  
}

.back > a {
  display: block;
  color: white;
  width: 70%;
  text-decoration: none;
  background-color: royalblue;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  border-radius: 4px;
  margin:  auto;
}

.back > a:hover {
  background-color: skyblue;
}

@media (min-width: 600px) {
  form {
    border: 1px solid gray;
    width: 400px;
    margin: 30px auto;
  }
}